<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>List Class</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
			$.getJSON("http://localhost:8080/teacher", function(data) {
				$.each(data, function(key,value){
					$("#listTeacher").append("full name: " + value.fullName + " / " + "phone: " + value.phone + " / " + "date of birth: " + value.dateOfBirth + " / " + "position: " + value.position + "<br>");
				});
			});
	});
</script>
</head>
<body>

	<div id="listTeacher"></div>
	
</body>
</html>